{% extends "benedict_option/layout.html" %}

{% block body %}



    <!-- Prayer box -->
    <div class="containter m-5" >
        <div class="row my-5 ">

            <div class="col-3 d-flex justify-content-end">
    
            </div> 

            <div class="col-6">
                <div class="card border rounded">
                    <div class="card-body text-left py-4">
                        <div class="row">
                            <div class="col">
                                <h3 id="prayer-title"class="card-title"> <i class="bi bi-person-circle"></i></i> Stephen </h3>
                            </div>
                            <div class="col">  
                              <h5 class="d-flex justify-content-end" >1 hr.</h5>
                            </div>
                        </div>
                        
                        
                        <hr>
                        <div id="text1">
                            <p id="prayer-text" class="lead"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas repudiandae debitis, sunt distinctio quibusdam facere! Quia ipsa magnam ea consectetur accusantium nesciunt repellendus animi assumenda neque. Ex soluta voluptatibus deleniti. </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row p-1">
                        <div class="col d-flex justify-content-between">
                            <button id="prev-button" type="button" class="navigate btn btn-secondary " value="">Comment</button>

                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="containter m-5" >
        <div class="row my-5 ">

            <div class="col-3 d-flex justify-content-end">
    
            </div> 

            <div class="col-6">
                <div class="card border rounded">
                    <div class="card-body text-left py-4">
                        <div class="row">
                            <div class="col">
                                <h3 id="prayer-title"class="card-title"> <i class="bi bi-person-circle"></i></i> Seth </h3>
                            </div>
                            <div class="col">  
                              <h5 class="d-flex justify-content-end" >1 hr.</h5>
                            </div>
                        </div>
                        
                        
                        <hr>
                        <div id="text1">
                            <p id="prayer-text" class="lead"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas repudiandae debitis, sunt distinctio quibusdam facere! Quia ipsa magnam ea consectetur accusantium nesciunt repellendus animi assumenda neque. Ex soluta voluptatibus deleniti. </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row p-1">
                        <div class="col d-flex justify-content-between">
                            <button id="prev-button" type="button" class="navigate btn btn-secondary " value="">Comment</button>

                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

                            


                    


{% endblock %}