{% extends "benedict_option/layout.html" %}
{% load mathfilters %}

{% block body %}
{{ request.user.id|json_script:"user_id" }}

<div class="col">


<div class="container-fluid my-3">
    <div class="row justify-content-center">
        <div class="col-3">
            <a href="{% url 'search' %}" type="button" class="btn btn-secondary" type="button"><i class="bi bi-search"></i> Search for a Liturgy</a>
        </div>
    
        <div class="col-6 d-flex justify-content-center">
            <div >
                <label for="searchLiturgy">Choose a Time: <i class="bi bi-clock"></i></label>
                <button id="select-time" value="60" type="button" class="time btn btn-secondary m-1">1 min.</button>
                <button id="select-time" value="120" type="button" class="time btn btn-secondary m-1">2 min.</button>
                <button id="select-time" value="180" type="button" class="time btn btn-secondary m-1">3 min.</button>
                <button id="select-time" value="240" type="button" class="time btn btn-secondary m-1">5 min.</button>
                <button id="select-time" value="600" type="button" class="time btn btn-secondary m-1">10 min.</button>
                <button id="watch" type="button" class="watch btn btn-success" value="Start"><i class="bi bi-play-circle"></i> </button>
                <button id="watch" type="button" class="watch btn btn-danger" value="Stop">Reset Timer</button>
                {% comment %} <button id="watch" type="button" class="watch btn btn-warning" value="Pause"><i class="bi bi-pause-circle"></i> </button> {% endcomment %}
            </div>
        </div>
        {% block groupSettings %}
        <div class="col-3 d-flex justify-content-end">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle"  type="button" id="chooseGroupButton" data-bs-toggle="dropdown" aria-expanded="false">
              Your Group: {{request.user.active_group}}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <h5 class="dropdown-header">Your Groups</h5>
              <h6 class="dropdown-header text-muted">Click on group to switch.</h6>
              {% for group in userGroups %}
                {% if group.id == request.user.current_group.id %}
                  <li class="groups" value="{{ group.id }}"><a class="dropdown-item active" href="#"  > {{ group }} </a></li>
                {% else %}
                  <li class="groups" value="{{ group.id }}"><a class="dropdown-item" href="#"  > {{ group }} </a></li>
                {% endif %}
              {% endfor %}
              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header">Group Settings</h6>
              <!-- Button trigger Create Group modal -->
              <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#createGroupForm"> <i class="bi bi-plus"></i> Create Group </a></li>
              <!-- Button trigger Invite modal -->
              <li><a  class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#inviteGroupForm"> <i class="bi bi-person-plus-fill"></i> Invite to Group </a></li>

            </ul>
          </div>
        </div>
        {% endblock %}
    </div>
</div>
    <!-- add 3 columns for the category box  -->

    
    <!-- filters box  -->
    
    <div class="containter m-5" >
        <div class="row my-5 ">
          <div class="col-3">
          {% block filters %}
        
          
            {% endblock %}
            </div>


          <!-- liturgy box -->
            <div class="col-6">
                <div class="card border rounded">
                    <div class="card-body text-left py-4">
                        <div class="row">
                            <div class="col">
                                <h1 id="liturgy-title"class="card-title"> <i class="bi bi-book"></i> {{ liturgy.title}} </h1>
                                <p id="liturgy-author" class="lead card-subtitle text-muted mb-1"> by {{liturgy.author }} </p>
                            </div>
                            <div class="col"> 
                              <div class="d-flex justify-content-end" >
                                <p class="timer-time " id='timer-time'>0 m</p>
                                {% load static %}
                                <img class="clock" src="{% static 'benedict_option/34139.svg' %}">
                                <div class="timer fill"></div>
                                
                              </div>
                              
                            </div>
                        </div>
                        
                        
                        <hr>
                        <div id="text-block">
                            <p id="liturgy-text" class="lead"> {{ liturgy.text}} </p>
                        </div>
                    </div>
    
                    <div class="row p-1">
                        <div class="col d-flex justify-content-between">
                            <button id="prev-button" type="button" class="navigate btn btn-secondary " value="{{ liturgy.id|sub:1 }}"><i class="bi bi-arrow-left-short"> </i>Prev. Liturgy</button>
                            <a class="random btn btn-secondary " href="{% url 'index' %}" role="button"> Random Liturgy</a>
                            <button id="next-button" type="button" class="navigate btn btn-secondary " data-value1="{{ totalLiturgies }}" value="{{ liturgy.id|addition:1 }}">Next Liturgy <i class="bi bi-arrow-right-short"></i></button>
                            
                          </div>
                    </div>
                    {% if message %}
                    <div>
                    <h5>{{ message }}</h5>
                    </div>
                  
    {% endif %}
                    
                </div>
            </div>
            <div class="col-3">
              {% block videoChat %}
              {% endblock %}
            </div>  
        
            </div>
        </div>
        
    </div>
    
    

    
      
    
</div>


{% block groupManagement %}
<!-- Invite to Group Modal -->
<div class="modal fade" id="inviteGroupForm" tabindex="-1" aria-labelledby="inviteGroupFormLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="inviteGroupFormLabel">Invite friends to your Group.</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-muted">Enter your friends email addresses to add them to your group.</p>
      
        <div class="md-form mb-5">
          <label data-error="wrong" data-success="right" for="defaultForm-email">Email Addresses</label>
          <i class="fas fa-envelope prefix grey-text"></i>
          <input type="email" id="invite-recipients" class="form-control validate">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" data-value1="{{ request.user.active_group.id }}" id="sendGroupInvite" class="btn btn-primary">Send Invite(s)</button>
      </div>
    </div>
  </div>
</div>

<!-- Create Group Modal -->
<div class="modal fade" id="createGroupForm" tabindex="-1" aria-labelledby="createGroupFormLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createGroupFormLabel">Create a new group.</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <p class="text-muted">Give your group a name.</p>
        <div class="md-form mb-5">
          <label >Group Name</label>
          <i class="fas fa-envelope prefix grey-text"></i>
          <input type="text" id="createGroupFormName" class="form-control" data-dismiss="modal">
        </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" id="createGroupInvite" class="btn btn-primary">Create Group</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}


</div>


{% endblock %}