{% extends "benedict_option/layout.html" %}
{% block body %}
<div class="col">
<div class="container m-5">
    <div class="row m-5">
        <div class="col-3">

        </div>
        <div class="col-6">
            <div class="card border rounded">
                <div class="card-body text-left py-4">
                    <div class="row"></div>
                        <div id="request-creator"></div>
                        <div id="request-date"></div>
                    <div class="row"></div>
                    <hr>
                    <div id="request-text"></div>
                    <hr>
                    <div id="request-comments">
                        
                    </div>
                    <div id="make-prayer-request">
                    
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">

        </div>
    </div>

</div>
</div>

{% endblock %}