{% extends "benedict_option/layout.html" %}


{% block body %}
<div class="col">
  <div class="container">
      <div class="row mt-2">
          <div class="col-3">
          </div>
          <div class="col-6">
            <p class="fs-4">Search for a Specific Liturgy</p>
              <div class="container">
              <!-- Search -->
              <label for="searchLiturgy">Search for either a title, author, phrase or all criteria</label>
              <form action="{% url 'searchLiturgy' %}" method="get">

                {% comment %} Search Title {% endcomment %}
                <div class="form-group">
                  <small id="searchHelp" class="form-text text-muted">Liturgy Title or Author</small>
                  <input type="text" name="title-author" class="form-control" id="searchTitleAuthor" aria-describedby="searchTitle" placeholder="Enter title or author of liturgy you are searching for...">
                </div>
              </form>
                <button type="submit" class="btn btn-secondary my-2">Search</button>
          
                {% comment %} Search for String {% endcomment %}
              <form action="{% url 'searchLiturgy' %}" method="get">
                <div class="form-group">
                  <small id="searchHelp" class="form-text text-muted">Liturgy Phrase</small>
                  <input type="text" name="phrase" class="form-control" id="searchString" aria-describedby="searchString" placeholder="Enter phrase from liturgy you are searching for...">
                </div>
                <button type="submit" class="btn btn-secondary my-2">Search</button>
              </div>
              </form>
            <hr>
              <div id="search-results">
                <p class="fs-5">Search Results</p>
                {% if result.count == 0%}

                {% else %}

                {% endif %}
                {% for result in search_results %}
                  <p> result </p>
                {% endfor %}
              </div>
          </div>
          <div class="col-3">
          </div>
      </div>
  </div>
</div>

 {% endblock %}